/***********************************************************************
 * External services config.
 */
div#pl2010-xlogin-xsvcs button[data-xtype] img {
	width: 24px;
	vertical-align: middle;
}

/***********************************************************************
 * External users config.
 */
table.pl2010-xlogin-xusers {
	border: 3px ridge;
}

table.pl2010-xlogin-xusers th {
	border-bottom: 3px ridge;
}

table.pl2010-xlogin-xusers div.ctrl-btns {
	float: right;
}

/***********************************************************************
 * Modal dialog.
 */
.pl2010-modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	/*
	transition: opacity 0.3s ease;
	*/
}

.pl2010-modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.pl2010-modal-container {
	width: 420px;
	margin: 0px auto;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	/*
	transition: all 0.3s ease;
	*/
}

.pl2010-modal-header h3 {
	margin-top: 0;
	/*
	color: #42b983;
	*/
}

.pl2010-modal-header div.title {
	float: left;
}

.pl2010-modal-header div.ctrl-btns {
	float: right;
}

.pl2010-modal-body {
	margin: 20px 0;
}

.pl2010-modal-body div.ctrl-btns {
	float: right;
}

/* vim: set ts=2 noexpandtab syntax=css: */
